@page "/"
@inherits health_tracking_system_mobile.Components.Common.BaseComponent

<h1>
    @Translate["welcome"],
    @if (UserService.IsAuthenticated)
    {
        @CurrentUser.FullName
    }
    else
    {
        @Translate["guest"]
    }
</h1>
