<div>
    @if (Errors.Any())
    {
        <div class="text-danger">
            @foreach (var error in Errors)
            {
                <h4>@error</h4>
            }
        </div>
    }
    @if (Messages.Any())
    {
        <div class="text-success">
            @foreach (var message in Messages)
            {
                <h4>@message</h4>
            }
        </div>
    }
</div>